header{
    background-color: aliceblue;
}

.adotar{
    color: #f97316;
}

.navv{
    cursor: pointer;
}


body{
    background-color: #CED4DA;
    margin: 0;
}

.estadoss{
    cursor: pointer;
}
footer{
    background-color: #1F2937;
    color:  rgb(241, 243, 245);
}

button{
    background-color: #f97316;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
input{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding: 0.6px;
    border: 1.5px solid #1F2937;
    border-radius: 5px;

}

.conteiner{
    display: flex;
    background-color: aliceblue;
    
}